/* General settings */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.8;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
}

/* Header */
header {
  position: fixed;
  background-color: white;
  width: 100%;
}

#header-logo {
  padding-left: 1.5rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 4rem;
}

#academy {
  color: darkgray;
}

nav {
  text-align: right;
  padding-right: 1.5rem;
}

nav span {
  padding: 0.5rem;
}

/* Learn New section */
#learn-new {
  padding-top: 4rem; /* to offset fixed header */
  background-color: lightgray;
  width: 100%;
}

#learn-new img{
  width: 60%;
  height: auto;
  margin: 0;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#learn-new .text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 5.375rem;
}

.button {
  background-color: black;
  color: white;
  border-radius: 0.125rem;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#learn-new p {
  padding: 2rem 2rem 2rem 0;
}

/* Keep practicing section */
.quote {
  font-style: italic;
}

.img-text-container {
  display: flex;
  flex-direction: row;
  background-color: white;
}

#keep-practicing {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

#keep-practicing h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#keep-practicing span {
  display: block;
}

#keep-practicing img {
  height: auto;
}

#information-tiles {
  width: 26.4375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#information-tiles img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-column p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Start learning section */
#courses {
  background-color: lightgray;
  padding-bottom: 1rem;
  width: 100%;
}

#courses h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#courses h3 {
  padding-top: 1rem;
}

#courses h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#courses .img-text-container {
  margin: 0 1rem 2rem 1rem;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  flex: 1;
}

#courses img {
  width: 100%;
  height: auto;
}

#courses .text-cont {
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

/* Thesis section */
#thesis-section-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

#thesis-video {
  width: 60%;
  display: block;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 1rem 2rem 1.5rem;
  overflow: hidden;
}

#theses {

}

#thesis-video video {
  display: block;
  margin-top: 0;
  width: 100%;
}

#theses .text-cont {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#theses .img-text-container {
  width: 26.4375rem;
  overflow: hidden;
}

#theses img {
  height: 10.5rem;
  width: 10.5rem;
  padding: 1rem;
}

#fisma {
  background-color: lightgray;
}

#theses h3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* footer */
footer {
  padding: 2rem 1.5rem;
}
